[submodule "StormLib/StormLib"]
	path = StormLib/StormLib
	url = git@github.com:ladislav-zezula/StormLib.git
[submodule "Chkdraft/Chkdraft"]
	path = Chkdraft/Chkdraft
	url = git@github.com:jjf28/Chkdraft.git
[submodule "CascLib/CascLib"]
	path = CascLib/CascLib
	url = git@github.com:ladislav-zezula/CascLib.git
[submodule "ads/ads"]
	path = ads/ads
	url = git@github.com:githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "oxygen-icons-png"]
	path = oxygen-icons-png
	url = git@github.com:pasnox/oxygen-icons-png.git
[submodule "flag-icon"]
	path = flag-icon
	url = https://github.com/stevenrskelton/flag-icon.git
